@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

        --accent: 188 94% 45%;
        --accent-light: 188 100% 55%;
        --accent-dark: 188 85% 35%;
        --accent-foreground: 220 45% 97%;

		--constructive: 120 100% 93%;
		--constructive-foreground: 222.2 84% 4.9%;

		--alert: 60 100% 90%;
		--alert-foreground: 222.2 84% 4.9%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;

		--sidebar-background: 0 0% 98%;

		--sidebar-foreground: 240 5.3% 26.1%;

		--sidebar-primary: 240 5.9% 10%;

		--sidebar-primary-foreground: 0 0% 98%;

		--sidebar-accent: 240 4.8% 95.9%;

		--sidebar-accent-foreground: 240 5.9% 10%;

		--sidebar-border: 220 13% 91%;

		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--background: 225 30% 5%;
		--foreground: 213 20% 86%;

		--card: 222.2 25% 7%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 25% 7%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 220 20% 12%;
		--secondary-foreground: 210 40% 98%;

		--muted: 220 20% 12%;
		--muted-foreground: 215 20.2% 65.1%;

        --accent: 188 94% 45%;
        --accent-light: 188 100% 55%;
        --accent-dark: 188 85% 35%;
        --accent-foreground: 220 45% 97%;

		--constructive: 122 39% 49%;
		--constructive-foreground: 210 40% 98%;

		--alert: 54 100% 62%;
		--alert-foreground: 222.2 84% 4.9%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-black text-foreground;
	}
}

/* Add animation for the chat button pulse */
@keyframes button-attention {
	0% {
		box-shadow: 0 0 0 0 rgba(6, 182, 212, 0.4);
		transform: scale(1);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(6, 182, 212, 0);
		transform: scale(1.05);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(6, 182, 212, 0);
		transform: scale(1);
	}
}

.animate-button-attention {
	animation: button-attention 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**************************/
/****** PAGE LOADER *******/
/**************************/

.loader-ring {
    position: relative;
    margin: auto;
    width: 240px;
    height: 240px;
    background-image: url("/assets/images/vzr.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.loader-ring-light {
    width: 240px;
    height: 240px;
    border-radius: 240px;
    box-shadow: 0 7px 0 hsl(188, 94%, 45%) inset;
    animation: rotate-360 0.3s linear infinite;
}

.loader-ring-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 240px;
    border-radius: 240px;
    box-shadow: 0 0 10px 14px rgba(138, 138, 138, 0.3) inset;
}

@keyframes rotate-360 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.loader-ring-generate {
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
    background-image: url("/assets/images/vzr.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.loader-ring-light-generate {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    box-shadow: 0 4px 0 hsl(188, 94%, 45%) inset;
    animation: rotate-360 0.3s linear infinite;
}

.loader-ring-track-generate {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    box-shadow: 0 0 5px 7px rgba(138, 138, 138, 0.3) inset;
}

.button-loader-ring {
    position: relative;
    margin: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url("/assets/images/vzr.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.button-loader-ring-light {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    z-index: 5;
    box-shadow: 0 2px 0 #01010a inset;
    animation: rotate-360 0.5s linear infinite;
}

.button-loader-ring-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    box-shadow: 0 0 1px 1px var(--accent) inset;
}

@keyframes rotate-360 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.animation-container span {
    position: absolute;
    color: var(--accent-25);
    display: block;
    font-size: 15px;
    font-family: "Helvetica";
    text-shadow: var(--secondary-foreground);
    user-select: none;
    pointer-events: none;
    cursor: default;
    z-index: -1;
    opacity: 0;
    top: 0;
    will-change: transform, opacity;
    animation-timing-function: ease-out;
    animation-name: move;
}

@keyframes move {
    0% {
        opacity: 0;
        top: 100%;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: none;
    }
}

.animate-ping {
    animation: ping 1.5s cubic-bezier(0,.1,.4,1) infinite;
}

/* Fade in and out gotothetopbutton */
.fade-in {
    transition: opacity 0.5s ease-in;
}

.fade-out {
    transition: opacity 0.5s ease-out;
}

/* Custom scrollbar for dialogs */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: hsl(var(--secondary) / 0.5);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted-foreground) / 0.5);
    border-radius: 4px;
}

/* Infinite Moving Cards Animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50% - 0.5rem));
    }
}

.animate-scroll {
    animation: scroll var(--animation-duration, 50s) var(--animation-direction, forwards) linear infinite;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--muted-foreground));
}


/* Special Effects */

.button-gradient {
    @apply transition-transform duration-300;
    background-image: 
        radial-gradient(ellipse at 50% 150%, #1DBBFF 20%, transparent 40%),
        radial-gradient(ellipse at 50% 300%, #1DBBFF 25%, transparent 70%);
}

.listing-glow-0 {
    @apply bg-[#000513] transition-transform duration-300;
    background-image: 
        radial-gradient(circle at 20% -300%, #1DBBFF99 5%, transparent 10%),
        radial-gradient(circle at 20% -275%, #1DBBFF99 0%, transparent 15%),
        radial-gradient(circle at 100% -300%, #1DBBFF99 5%, transparent 10%),
        radial-gradient(circle at 100% -275%, #1DBBFF99 0%, transparent 15%),
        radial-gradient(circle at 65% 300%, #1DBBFF99 0%, transparent 5%),
        radial-gradient(circle at 65% 275%, #1DBBFF99 5%, transparent 10%);
}

.listing-glow-1 {
    @apply bg-[#000513] transition-transform duration-300;
    background-image: 
        radial-gradient(circle at 20% -300%, #1DBBFF99 10%, transparent 15%),
        radial-gradient(circle at 20% -275%, #1DBBFF99 5%, transparent 25%),
        radial-gradient(circle at 100% -300%, #1DBBFF99 10%, transparent 15%),
        radial-gradient(circle at 100% -275%, #1DBBFF99 10%, transparent 20%),
        radial-gradient(circle at 65% 300%, #1DBBFF99 10%, transparent 15%),
        radial-gradient(circle at 65% 250%, #1DBBFF99 5%, transparent 20%);
}

.listing-glow-2 {
    @apply bg-[#000513] transition-transform duration-300;
    background-image: 
        radial-gradient(circle at 0% 300%, #1DBBFF99 0%, transparent 10%),
        radial-gradient(circle at 0% 275%, #1DBBFF99 5%, transparent 15%),
        radial-gradient(circle at 80% 300%, #1DBBFF99 5%, transparent 10%),
        radial-gradient(circle at 80% 275%, #1DBBFF99 5%, transparent 15%),
        radial-gradient(circle at 50% -250%, #1DBBFF99 0%, transparent 15%),
        radial-gradient(circle at 50% -225%, #1DBBFF99 5%, transparent 20%);
}

.three-points-gradient {
    @apply bg-[#6FE5FF]/20 transition-transform duration-300;
    background-image: 
        radial-gradient(circle at 35% -40%, #000513 5%, transparent 60%),
        radial-gradient(circle at 45% -50%, #000513 15%, transparent 55%),
        radial-gradient(circle at 10% 140%, #000513 20%, transparent 55%),
        radial-gradient(circle at 0% 150%, #000513 30%, transparent 45%),
        radial-gradient(circle at 134% 60%, #000513 10%, transparent 35%),
        radial-gradient(circle at 120% 60%, #000513 5%, transparent 25%);
    height: 100%;
    width: 100%;
}

.three-points-gradient-light {
    @apply bg-[#6FE5FF]/10 transition-transform duration-300;
    background-image: 
        radial-gradient(circle at 35% -40%, #000513 5%, transparent 60%),
        radial-gradient(circle at 45% -50%, #000513 15%, transparent 55%),
        radial-gradient(circle at 10% 140%, #000513 20%, transparent 55%),
        radial-gradient(circle at 0% 150%, #000513 30%, transparent 45%),
        radial-gradient(circle at 134% 60%, #000513 10%, transparent 35%),
        radial-gradient(circle at 120% 60%, #000513 5%, transparent 25%);
    height: 100%;
    width: 100%;
}

.three-points-gradient-border-listing {
    background-image: conic-gradient(transparent 23%, #6FE5FF 25%, transparent 27%, transparent 59%, #6FE5FF 62%, transparent 65%, transparent 79%, #6FE5FF 82%, transparent 85%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    padding: 2px;
    border-radius: 1rem;
}

.three-points-gradient-border {
    background-image: conic-gradient(transparent 20%, #6FE5FF 25%, transparent 30%, transparent 55%, #6FE5FF 65%, transparent 72%, transparent 76%, #6FE5FF 80%, transparent 85%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    padding: 2px;
    border-radius: 1rem;
}

.three-points-gradient-border-list {
    background-image: conic-gradient(transparent 23%, #6FE5FF 25%, transparent 27%, transparent 60%, #6FE5FF 64%, transparent 78%, transparent 85%, #6FE5FF 90%, transparent 93%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    padding: 2px;
    border-radius: 1rem;
}


/* Carousel */
.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 90%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__full {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* height: var(--slide-height); */
  user-select: none;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
